.projects-card__caption-block {
  box-sizing: border-box;
  max-width: 81%;
  transform: translateY(-10%);
  padding: 16px 15px 29px 15px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
