@media screen and (min-width: 1023px){
  .sponsors__list{
    grid-template-areas: 
      "first two thre";
  }
  .sponsors__container{
    display: grid;
    grid-template-areas: 
      "org org"
      "supp partn";
    justify-content: center;
    grid-template-columns: repeat(2, 380px);
    grid-gap: 150px;
  }
  .sponsors__block:nth-child(1){
    grid-area: org;
  }
  .sponsors__block:nth-child(2){
    grid-area: supp;
  }
  .sponsors__block:nth-child(3){
    grid-area: partn;
  }    
  .sponsors__title{
    text-align: left;
  }
  .sponsors__title_org{
    text-align: center;
  }
}