@media screen and (min-width: 1230px) {
  .sponsors__list {
    grid-template-areas: 'first two thre';
    grid-gap: 4%;
  }
  .sponsors__container {
    padding: 75px 26px 82px;
    display: grid;
    grid-template-areas:
      'org org'
      'supp partn'
      'mass mass';
    justify-content: center;
    grid-template-columns: repeat(2, 480px);
    column-gap: 8%;
    row-gap: 60px;
  }
  .sponsors__block:nth-child(1) {
    grid-area: org;
  }
  .sponsors__block:nth-child(2) {
    grid-area: supp;
  }
  .sponsors__block:nth-child(3) {
    grid-area: partn;
  }
  .sponsors__block:nth-child(4) {
    grid-area: mass;
  }
  .sponsors__title {
    text-align: left;
  }
  .sponsors__title_center {
    text-align: center;
  }

  .sponsors__item:nth-child(2) {
    max-width: 150px;
  }

  .sponsors__item:nth-child(3) {
    max-width: 150px;
  }
  .sponsors__block_partners {
    max-width: 440px;
  }

  .sponsors__list_sup {
    grid-template-areas:
      'first two '
      'thre fourth';
    justify-content: start;
  }

  .sponsors__list_media {
    grid-template-areas: 'first two thre fourth five six';
  }
}
