{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-restricted-globals": ["error", "event", "fdescribe"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}
