.more-projects__title{
  font-family: "Pribambas";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  padding: 29px 0;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}
