@media screen and (min-width: 1023px) {
  .lead__container {
    padding: 50px 100px 40px;
  }
  .lead__title {
    font-size: 2.7rem;
    margin-bottom: 25px;
  }
  .lead__img {
    margin-bottom: 20px;
  }
  .lead__text {
    font-size: 1.3rem;
    margin-bottom: 40px;
    max-width: 590px;
  }
  .lead__date {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  .lead__start {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .lead__days-left {
    font-size: 2.7rem;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 420px) {
  .lead__img {
    max-width: 480px;
  }
}
